//@import '~antd/es/style/themes/default.less';
@import '../../global.less';

.tabs {
  position: relative;
  //width: 100%;
  height: @tabs-height;
  padding: 0 2px;
  background: @body-background;
  cursor: default;
  border-top: 1px solid @border-color-split;
  border-bottom: 1px solid @border-color-split;
  box-shadow: 0 5px 10px -5px rgba(@text-color, 0.25);

  .tab {
    min-width: 45px;
    height: 26px;
    margin: 5px 3px;
    padding: 0 5px;
    font-size: @font-size-sm;
    line-height: 24px;
    //border: 1px solid @border-color-base;
    //border-radius: @border-radius-sm;
    cursor: pointer;

    &.active-tab {
      border-color: @primary-color;
      color: @primary-color;
    }
  }
}
