<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeeasy.system.modules.dict.mapper.SysDictMapper">

    <select id="queryByParentCode" parameterType="string" resultType="org.jeeasy.system.modules.dict.domain.SysDict">
        SELECT a.dict_name,
               a.dict_code
        FROM sys_dict a
                 LEFT JOIN sys_dict b ON a.parent_id = b.id
        WHERE b.dict_code = #{code}
    </select>


    <select id="queryByTableDict" resultType="org.jeeasy.system.modules.dict.domain.SysDict" parameterType="org.jeeasy.system.modules.dict.domain.SysTableDict">
        select t.${tableDict.valueColumn} as dict_code, t.${tableDict.nameColumn} as dict_name
        from ${tableDict.tableName} t
    </select>

    <select id="getOneByParentCodeAndDictCode" resultType="org.jeeasy.system.modules.dict.domain.SysDict">
        SELECT a.dict_code AS dict_code,
               a.dict_name AS dict_name
        FROM sys_dict a
                 LEFT JOIN sys_dict b ON a.parent_id = b.id
        WHERE b.dict_code = #{parentCode}
          AND a.dict_code = #{code}
    </select>

    <select id="getOneByTableDictAndCode" resultType="org.jeeasy.system.modules.dict.domain.SysDict">
        select t.${tableDict.valueColumn} as dict_code, t.${tableDict.nameColumn} as dict_name
        from ${tableDict.tableName} t and ${tableDict.valueColumn} = #{code}
    </select>

</mapper>