/**
 * 默认主题
 */
@import "global.scss";
@import "element-variables.scss";

.nav-tabs {
  padding: 6px 15px;
  background: $NavTabsBgColor;
  border-top: 1px solid $NavTabsBorderTopColor;
  box-shadow: 0 1px 4px rgba(0, 21, 41, .08);

  .nav-tab {
    margin: 0 3px;
    cursor: default;
  }
}
