<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeeasy.system.modules.mapper.SysPermissionMapper">
    <sql id="tableName">
        sys_permission
    </sql>

    <sql id="baseColumn">
        id,parent_id,name,url,component,component_name,redirect,menu_type,perms,perms_type,sort_no,always_show,icon,is_route,is_leaf,keep_alive,hidden,description,create_by,create_time,update_by,update_time,del_flag,rule_flag,status,internal_or_external
    </sql>

</mapper>