.main
    display flex
    justify-content flex-end
    width 100%
    height 100%
    padding-right 10%
    background url('../images/login/bg2.png') no-repeat
    background-size 100% 100%

.content
    display flex
    align-items center
    position relative

    .title
        position absolute
        top -64px
        left 0
        width 100%
        font-size 32px
        color #FFFFFF
        letter-spacing 4.4px
        text-align center

    .login
        text-align center
        padding 0 6px
        min-width 400px

    .logo
        margin-bottom 30px
        font-size 50px
        font-weight 400
        font-variant small-caps
        text-transform uppercase
        text-shadow #e7e7e7 3px 5px 0, #999 4px 6px 3px, #ccc 8px 11px 10px
        /* background url('../assets/logo.png') no-repeat center
        background-size 65% */
        width 100%
        height 40px

    .footer
        position absolute
        bottom 40px
        left 0
        width 100%
        text-align center

        &_items
            display flex
            justify-content space-around
            align-items center
            padding 0 100px
            margin-bottom 20px

            img
                margin-bottom 10px